#dateisicht-accordion-main-card {
    background-color: #c2d7ef;
}


#dateisicht-accordion-card {
    background-color: #cfdff1;
    border: 3px solid #83888e;
    margin-left: 5px;
    margin-right: 5px;
}

#dateisicht-tags-anzeige {
    margin-left: 2px;
}

#dateimain {
    max-width: fit-content;
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}

#dateisicht-btn-group {
    position: absolute;
    margin-left: 30px;
}

#dateisicht-datei-name {
    FONT-WEIGHT: bold;
}

#dateisicht-datei-secondary-info {
    margin-top: 20px;
    margin-left: 60px;
    max-width: fit-content;
}

#dateisicht-datei-typ {
    border: 3px dashed #83888e;
    margin: 5px;
    background-color: #5066ce29;
    padding: 2px;
}

#dateisicht-datei-format {
    border: 3px dashed #83888e;
    margin: 5px;
    background-color: #5066ce29;
    padding: 2px;
}

#dateisicht-datei-date {
    border: 3px dashed #83888e;
    margin: 5px;
    background-color: #5066ce29;
    padding: 2px;
}

#dateisicht-datei-uploader {
    border: 3px dashed #83888e;
    margin: 5px;
    background-color: #5066ce29;
    padding: 2px;
}