<!DOCTYPE html>
<html lang="en"
      th:replace="~{base :: html(content=~{:: mycontent})}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <title>Index</title>
</head>

<body>
<div id="content" th:fragment="mycontent">
    <h1 class="display-2" th:text="${gruppenAuswahl.getName()}">
        ProPra
    </h1>
    <p class="text-lg-left">
        Hier könnte ihre Gruppenbeschreibung stehen.
    </p>
    <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>

    <div id="error-message" th:classappend="${error != null} ? 'alert alert-warning'" th:text="${error}">
        Some error message
    </div>

    <div id="success-message" th:classappend="${success != null} ? 'alert alert-success'" th:text="${success}">
        Jeah, it works!
    </div>
    <div class="accordion" id="dataCategorys">
        <div class="card" th:each="kategorie, iter : ${kategorien}">
            <div class="card-header" id="${kategorie}">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            th:data-target="'#collapseOne' + ${iter.index}"
                            aria-expanded="false" aria-controls="collapseOne" th:text="${kategorie}">
                    </button>
                </h2>
            </div>
            <div th:id="'collapseOne' + ${iter.index}" class="collapse" aria-labelledby="${kategorie}"
                 data-parent="#dataCategorys">
                <div class="card-body p-0 pb-2 m-0" th:each="datei : ${dateien}"
                     th:if="${datei.getKategorie().equals(kategorie)}">
                    <div class="card">
                        <h6 class="card-title h5">
                            <div class="d-inline" th:each="tag : ${datei.getTags()}">
                                <span class="badge badge-primary" th:text="${tag.getText()}"></span>
                            </div>
                            <div class="list-inline text-muted">
                                <span class="card d-inline" th:text="${datei.getDateityp()}"></span>
                                <span class="card d-inline" th:text="${datei.getDateigroesseFormated()}"></span>
                                <span class="card d-inline" th:text="${datei.getVeroeffentlichungsdatum()}"></span>
                                <span class="card d-inline" th:text="${datei.getUploader().getName()}">
                                    </span>
                            </div>
                        </h6>
                        <div class="list-inline" id="dateimain">
                            <span class="card-text h2 pb-3" th:text="${datei.getName()}"></span>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a class="btn btn-info" role="button"
                                   th:href="@{/material2/update(dateiId=${datei.getId()}, gruppenId=${gruppenAuswahl.getId()})}"
                                   href="#">EDIT</a>
                                <a class="btn btn-primary" role="button" th:href="@{/material2/files(fileId=${datei.getId()})}"
                                   href="#">DOWNLOAD</a>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>
