<!DOCTYPE html>
<html lang="en"
      th:replace="~{base :: html(content=~{:: mycontent})}"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
  <title>Index</title>
</head>

<body>
  <div id="content" th:fragment="mycontent">
    <h1 class="text-center">
      Suche
    </h1>
    <div>
      <form action="" method="post" >
        <label for="SelectGroup">Gruppenauswahl </label>
          <select class="form-control" id="SelectGroup" name="gruppe">
            <option> <span> ProPra </span>  </option>
            <option> <span> RDB </span>  </option>
          </select>
        <label for="Tags">Tags </label>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="klausurrelevant">
          <label class="form-check-label" for="Tags">
            Klausurrelevant
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="Tags">
          <label class="form-check-label" for="Tags">
            Übungsblatt
          </label>
        </div>

        <div><input class="btn btn-primary" type="submit" name="search" value="Suchen"></div>
      </form>
    </div>
  </div>
</body>
</html>