<!DOCTYPE html>
<html lang="en"
      th:replace="~{base :: html(content=~{:: mycontent})}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Index</title>
</head>

<body>
<div id="content" th:fragment="mycontent">
    <h1 class="text-center">
        Suche
    </h1>
    <div class="container">
        <form action="" method="post" id="abschicken" name="auswahl" >
            <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
            <div class="form-group">
                <label for="SelectGroup">Gruppenauswahl</label>
                <select class="form-control" onchange="auswahl.submit()" id="SelectGroup" name="gruppenId">
                    <option value="0">Alle</option>
                    <option th:each="gruppe : ${gruppen}"
                            th:value="${gruppe.getId()}"
                            th:text="${gruppe.getName()}" >
                    </option>
                </select>
            </div>

            <div class="form-group">
                <label for="dataname">Dateiname</label>
                <input type="text" class="form-control" id="dataname" placeholder="Eingabe" name="dateiName">
            </div>

            <div class="form-group list-inline">
                <label for="Tag">Tag </label>
                <div class="form-check" th:each="tag : ${tags}">
                    <input class="form-check-input" type="checkbox" value="" id="Tag"
                           th:value="${tag}" name="tags">
                    <label class="form-check-label" for="Tag" th:text="${tag}"></label>
                </div>
            </div>

            <div class="form-group list-inline">
                <label for="Dateityp">Dateityp</label>
                <div class="form-check" th:each="dateiTyp : ${dateiTypen}">
                    <input class="form-check-input" type="checkbox" value="" id="Dateityp" th:value="${dateiTyp}" name="dateiTyp">
                    <label class="form-check-label" for="Dateityp" th:text="${dateiTyp}"></label>
                </div>
            </div>

            <div class="form-group">
                <label for="Uploader">Uploader</label>
                <div class="form-check" th:each="uploading : ${uploader}">
                    <input class="form-check-input" type="checkbox" value="" id="Uploader" th:value="${uploading}" name="uploader">
                    <label class="form-check-label" for="Dateityp" th:text="${uploading}"></label>
                </div>
            </div>

            <div class="form-group">
                <label>Datum </label>
                    <div class="form-inline">
                        <label for="FromDate"> Von</label>
                        <div class="form-check">
                            <input type="date" value="" id="FromDate" name="vonDatum">
                        </div>
                        <label for="UntilDate"> Bis</label>
                        <div class="form-check">
                            <input type="date" value="" id="UntilDate" name ="bisDatum">
                        </div>
                    </div>
            </div>

            <div class="form-group">
                <label for="SelectSearchBy">Sortierung </label>
                <div class="form-inline">
                    <select class="form-control" id="SelectSearchBy" name="sortierung">
                        <option> Name </option>
                        <option> Datum </option>
                    </select>
                    <label for="SelectOrder"></label>
                    <select class="form-control" id="SelectOrder" name="reihenfolge">
                        <option> aufsteigend </option>
                        <option> absteigend </option>
                    </select>
                </div>
            </div>

            <div>
                <input class="btn btn-primary" type="submit" onclick="abschicken.submit()" name="search" value="Suchen">
            </div>
        </form>
    </div>
</div>
</body>
</html>