<!DOCTYPE html>
<html lang="en"
      th:replace="~{base :: html(content=~{:: mycontent})}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="../static/dist/tokenfield.css" th:href="../dist/tokenfield.css" rel="stylesheet">
    <title>Index</title>
</head>

<body>
<div id="content" th:fragment="mycontent">
    <h1 class="text-center">
        Update
    </h1>

    <div class="container">

        <form method="post" enctype="multipart/form-data">
            <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>

            <div>
                <label for="dataname">Dateiname </label>
                <input type="text" class="form-control" id="dataname" name="dateiname" th:value="${datei.getName()}"
                       readonly>
            </div>

            <div>
                <label for="uploader">Uploader </label>
                <input type="text" class="form-control" id="uploader" name="uploader"
                       th:value="${datei.getUploader().getName()}" readonly>
                </div>

            <div>
                <label for="input-tags">Tags </label>
                <input type="text" name="selectedTags" id="input-tags">
            </div>
            <script src="../static/dist/tokenfield.min.js" th:src="@{../dist/tokenfield.min.js}"></script>
            <script th:inline="javascript">
                var student = [];
                var tagTexts = /*[[${tagText}]]*/ [];

                for (count = 0; count < tagTexts.length; count++) {
                    var obj = {
                        id: count,
                        name: tagTexts[count]
                    };
                    student.push(obj);
                }

                var tagField = new Tokenfield({
                    el: document.querySelector('#input-tags'),
                    items: student,
                    newItems: true,
                    addItemOnBlur: true,
                    filterSetItems: false,
                    addItemsOnPaste: true,
                    delimiters: [',', ' '],
                    minChars: 0,
                    maxSuggestWindow: 5,
                    singleInput: true,
                    singleInputValue: 'name'
                });

                var tags = [];
                var selectedTags = /*[[${datei.getTagNamesAsArray()}]]*/ [];

                for (count = 0; count < selectedTags.length; count++) {
                    var obj = {
                        id: count,
                        name: selectedTags[count]
                    };
                    tags.push(obj);
                }
                tagField.setItems(tags);

            </script>

            <div class="form-group">
                <label for="timedDate">Getimete Veröffentlichung (optional)</label>
                <div>
                    <input type="date" th:value="${datei.getVeroeffentlichungsdatum()}" name="timedUpload"
                           id="timedDate">
                </div>
            </div>

            <div>
                <input class="btn btn-primary" type="submit" name="update" value="Bestätigen">
            </div>
        </form>
    </div>
</div>

</body>
</html>