<!DOCTYPE html>
<html lang="en"
      th:replace="~{base :: html(content=~{:: mycontent})}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/dist/tokenfield.css" rel="stylesheet" th:href="/dist/tokenfield.css">
    <title>Index</title>
</head>

<body>
<div id="content" th:fragment="mycontent">
    <h1 class="text-center">
        Upload
    </h1>

    <div>
        <form method="post" enctype="multipart/form-data">
            <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>

            <div id="error-message" th:classappend="${error != null} ? 'alert alert-warning'" th:text="${error}">
                Some error message
            </div>

            <div id="success-message" th:classappend="${success != null} ? 'alert alert-success'" th:text="${success}">
                Jeah, it works!
            </div>


            <div>
                <label for="SelectGroup">Gruppenauswahl </label>
                <select class="form-control" id="SelectGroup" name="gruppenId">
                    <option th:each="gruppe : ${gruppenUpload}"
                            th:value="${gruppe.getId()}"
                            th:text="${gruppe.getName()}">
                    </option>
                </select>
            </div>

            <div>
                <label for="dataname">Dateiname </label>
                <input class="form-control" id="dataname" name="dateiname" placeholder="Eingabe" type="text">
            </div>

            <div>
                <label for="input-tags">Tags </label>
                <input type="text" name="selectedTags" id="input-tags">
            </div>
            <script src="/dist/tokenfield.min.js" th:src="@{/dist/tokenfield.min.js}"></script>
            <script th:inline="javascript">
                var student = [];
                var tagTexts = /*[[${tagText}]]*/ [];

                for (count = 0; count < tagTexts.length; count++) {
                    var obj = {
                        id: count,
                        name: tagTexts[count]
                    };
                    student.push(obj);
                }

                var jp = new Tokenfield({
                    el: document.querySelector('#input-tags'),
                    items: student,
                    newItems: true,
                    addItemOnBlur: true,
                    filterSetItems: false,
                    addItemsOnPaste: true,
                    delimiters: [',', ' '],
                    minChars: 0,
                    maxSuggestWindow: 5,
                    singleInput: true,
                    singleInputValue: 'name'
                });
            </script>

            <div>
                <label for="selectKategorie">Kategorie</label>
                <select class="form-control" id="selectKategorie" name="kategorie">
                    <option>Vorlesung</option>
                    <option>Übung</option>
                </select>
            </div>

            <div class="form-group">
                <label for="timedDate">Getimete Veröffentlichung (optional)</label>
                <div>
                    <input type="date" value="" name="timedUpload" id="timedDate">
                </div>
            </div>

            <div>
                <input type="file" name="datei" required>
            </div>

            <div>
                <input class="btn btn-primary" type="submit" name="hochladen" value="Hochladen">
            </div>
        </form>
    </div>
</div>

</body>
</html>